[Desktop Entry]
Encoding=UTF-8
Name=KDar (Disk-based Archive Tool)
Exec=kdar
Icon=kdar
Type=Application
Categories=Qt;KDE;Utility;Archiving;
DocPath=kdar/index.html
Comment=A KDE frontend to DAR (Disk ARchive)
Terminal=false
# vi: encoding=utf-8
